[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=ultraxion
Group=ultraxion

WorkingDirectory=/home/ultraxion/GNBot/GN/
Environment="PYTHONPATH=/home/ultraxion/GNBot/GN/"
ExecStart=/home/ultraxion/GNBot/GN/env/bin/python3 /home/ultraxion/GNBot/GN/bot.py

[Install]
WantedBy=multi-user.target